 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

a.list-group-item {
	padding: 1rem 1.25rem;
	height: auto;
	font-weight: bold;
	text-align: center;
}

a.list-group-left {
	text-align: left !important;
}

.avatar{
	border-radius: 80px;
}

.vertical-center{
	top: 50%;
	position: absolute;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.current-page{
	color:#01579B;
}

.card-center{
	margin-left: 12vw;
	margin-right: 12vw;
}

.home-center{
		margin-left: 6vw;
		margin-right: 6vw;
}


@media (max-width: 480px) {
    .card-center{
		margin-left: 1vw !important;
		margin-right: 1vw !important;
	}
	.home-center{
		margin-left: 0vw !important;
		margin-right: 0vw !important;
	}

}


a.list-group-item:hover{
	color:#01579B;
	background-color:#D1D1D1;
}

.carousel-item {
	height: 40vh;
	overflow: hidden;
	width: 100%;
}

.carousel-item img {
	width: 100%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  
}
